src/service/no/unified/soak/service/OppslagSVVAnsatt.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="OppslagSVVAnsatt"
	targetNamespace="urn:no:vegvesen:ldap.wsdl:OppslagSVVAnsatt:1:0"
	xmlns:tns="urn:no:vegvesen:ldap.wsdl:OppslagSVVAnsatt:1:0" xmlns:doc="urn:no:vegvesen:soagov:Tjenestedokumentasjon:1:0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wrapper="urn:no:vegvesen:felles:wrapper:cct:1:0"
	xmlns:messages="urn:no:vegvesen:ldap.wsdl.OppslagSVVAnsattContract:cc:1:0"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<documentation>LDAPRequest Dette er en teknisk SOA2 tjeneste som
		arbeider opp mot LDAP backend applikasjon. 1.0 Erlend Ytterstad
		erlend.ytterstad@vegvesen.no +4797471001 true Lav true N/A N/A
		Tjenesten er gjort tilgjengelig i tjeneste katalog og er beregnet for
		bruk til oppslag mot ansatte i SVV. Tjenesten vil returnere funn som
		samsvarer med UID. UID kan inneholde wildcard: *. Eks: Bri*. Ikke
		benytt * alene, da dette løser store ressurser i oppslag. Tjenesten
		skal kun benyttes innenfra JCaps mot SOA3. Ta kontakt med IT for
		utfyllende informasjon. All oppkobling mot tjenester i
		tjenestekatalogen krever oppkoblingsavtale med IT Drift.
	</documentation>
	<types>
		<xsd:schema id="UID-07000000-0B17A9461C0100-92021EED-01"
			targetNamespace="urn:no:vegvesen:ldap.wsdl:OppslagSVVAnsatt:1:0"
			xmlns:doc="urn:no:vegvesen:soagov:Tjenestedokumentasjon:1:0"
			xmlns:messages="urn:no:vegvesen:ldap.wsdl.OppslagSVVAnsattContract:cc:1:0"
			xmlns:tns="urn:no:vegvesen:ldap.wsdl:OppslagSVVAnsatt:1:0"
			xmlns:wrapper="urn:no:vegvesen:felles:wrapper:cct:1:0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="urn:no:vegvesen:felles:wrapper:cct:1:0"
				schemaLocation="SVVWrapperType-1.xsd" />
			<xsd:import namespace="urn:no:vegvesen:soagov:Tjenestedokumentasjon:1:0"
				schemaLocation="Tjenestedokumentasjon-1.xsd" />
			<xsd:import
				namespace="urn:no:vegvesen:ldap.wsdl.OppslagSVVAnsattContract:cc:1:0"
				schemaLocation="OppslagSVVAnsattContract.xsd" />
			<xsd:element name="WrapperImp" type="wrapper:WrapperListType" />
		</xsd:schema>
	</types>
	<message name="WSRequest">
		<part name="header" element="tns:WrapperImp" />
		<part name="request" element="messages:Request" />
	</message>
	<message name="WSResponse">
		<part name="header" element="tns:WrapperImp" />
		<part name="response" element="messages:Response" />
	</message>
	<message name="WSFault">
		<part name="fault" element="messages:Error" />
	</message>
	<portType name="portOppslagSVVAnsatt">
		<operation name="opOppslagSVVAnsatt">
			<input message="tns:WSRequest" />
			<output message="tns:WSResponse" />
			<fault name="fault" message="tns:WSFault" />
		</operation>
	</portType>
	<binding name="portOppslagSVVAnsattBnd" type="tns:portOppslagSVVAnsatt">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="opOppslagSVVAnsatt">
			<soap:operation
				soapAction="urn:no:vegvesen:ldap.wsdl:OppslagSVVAnsatt:1:0/portOppslagSVVAnsatt/opOppslagSVVAnsatt"
				style="document" />
			<input>
				<soap:body parts="request" use="literal" />
				<soap:header message="tns:WSRequest" part="request" />
			</input>
			<output>
				<soap:body parts="response" use="literal" />
				<soap:header message="tns:WSResponse" part="header" />
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="OppslagSVVAnsatt_Service">
		<port name="portOppslagSVVAnsattBndPort" binding="tns:portOppslagSVVAnsattBnd">
			<soap:address
				location="http://svvjcapsu04.vegvesen.no:18201/ldap_searchemployees/portOppslagSVVAnsattBndPort" />
		</port>
	</service>
</definitions>
  