svv-0.3.2/src/service/resources_SVV/SVVFeilType-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:no:vegvesen:landskap:SVVFeilType:cct:1:0" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:no:vegvesen:landskap:SVVFeilType:cct:1:0" xmlns="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SVVFeilType">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:string"/>
      <xsd:element name="Type" minOccurs="0" type="xsd:string"/>
      <xsd:element name="Message" minOccurs="0" type="xsd:string"/>
      <xsd:element name="StackTrace" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>